<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Private Elise + Integration.Core packages bundled in the repo (6 packages) -->
    <add key="LocalPackages" value="./LocalPackages" />
    <!-- Public NuGet feed for everything else -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
